<div class="container-fluid full">
  <h1 class="text-center">Aleksandar Mitic</h1>

  <div class="text-center" id="margin-facts">
    <h5 class="text-center">Studies CompSci in Sweden.</h5>
    <h5 class="text-center">Likes to program.</h5>
    <h5 class="text-center">Loves to talk about cool programingstuff.</h5>
  </div>

  <button class="btn btn-danger center-block" id="margin-button">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    Contact
  </button>

  <h5 class="text-center" id="links-margin">Other possibly intersting links.</h5>

  <div class="text-center" id="margin-links">
    <div class="same-line">
      <i class="fa fa-github fa-3x color-scale-git" aria-hidden="true"> </i>
    </div>
    <div class="same-line">
      <i class="fa fa-linkedin-square fa-3x color-scale-linkedin" id="space-icons" aria-hidden="true"> </i>
    </div>
    <div class="same-line">
      <i class="fa fa-file-pdf-o fa-3x color-scale-pdf" id="scale-icon" aria-hidden="true"> </i>
    </div>
  </div>
</div>
