.first-row-margin {
  margin-top: 10vh;
}

.first-row-margin:hover {
  transform: scale(1.03);
}

.color-setup {
  background-color: black;
  height: 12vh;

  color: white;

  opacity: 0.88;
  border-radius: 7px;
}

.center-text {
  min-height:90%;
  text-align:center;
  display:table; /*acts like a table*/
}

#center-in-div {
  margin:0;
  padding:0;
  vertical-align:middle; /*middle centred*/
  display:table-cell; /*acts like a table cell*/
}



