#box {
  margin-top: 9vh;
  margin-left: 5vh;
  padding-left: 0px;
  padding-right: 0px;
  width: 24vw;
  height: 30vh;
}

#margin-facts {
  margin-top: 7vh;
}

h5 {
  font-size: 1.2em;
  margin-top: 3vh;
}

#staple0 {
  background-color: black;
}

#staple1 {
  background-color: black;
}

#staple2 {
  background-color: black;
}

#staple3 {
  background-color: black;
}

#staple4 {
  background-color: black;
}

#staple5 {
  background-color: black;
}

#staple6 {
  background-color: black;
}

#staple7 {
  background-color: black;
}

#staple8 {
  background-color: black;
}

#staple9 {
  background-color: black;
}





