<div class="text-center" id="margin-facts">
  <h5 class="text-center">Algorithms are cool.</h5>
  <h5 class="text-center">So here's a Quicksort I made.</h5>
</div>

<div class="container-fluid">
  <div class="row no-gutters" id="box">
    <div class="col-md-1" id="staple0" [style.height.vh] = "list[0]" [style.margin-top.vh] = "30 - list[0]"></div>
    <div class="col-md-1" id="staple1" [style.height.vh] = "list[1]" [style.margin-top.vh] = "30 - list[1]"></div>
    <div class="col-md-1" id="staple2" [style.height.vh] = "list[2]" [style.margin-top.vh] = "30 - list[2]"></div>
    <div class="col-md-1" id="staple3" [style.height.vh] = "list[3]" [style.margin-top.vh] = "30 - list[3]"></div>
    <div class="col-md-1" id="staple4" [style.height.vh] = "list[4]" [style.margin-top.vh] = "30 - list[4]"></div>
    <div class="col-md-1" id="staple5" [style.height.vh] = "list[5]" [style.margin-top.vh] = "30 - list[5]"></div>
    <div class="col-md-1" id="staple6" [style.height.vh] = "list[6]" [style.margin-top.vh] = "30 - list[6]"></div>
    <div class="col-md-1" id="staple7" [style.height.vh] = "list[7]" [style.margin-top.vh] = "30 - list[7]"></div>
    <div class="col-md-1" id="staple8" [style.height.vh] = "list[8]" [style.margin-top.vh] = "30 - list[8]"></div>
    <div class="col-md-1" id="staple9" [style.height.vh] = "list[9]" [style.margin-top.vh] = "30 - list[9]"></div>
  </div>
</div>
