<div id="margin-facts">
  <h4 class="text-center" style="text-decoration: underline;">Other projects</h4>
  <ol style="font-size: 16px; font-weight: 500;" type="I">
    <li>Coda Easy - A  programing platform for children</li>
    <li>Snakelike box AI</li>
  </ol>
</div>

<button class="btn btn-danger center-block" id="margin-button">
  <i class="fa fa-envelope" aria-hidden="true"></i>
  <a href="mailto:mitic.alex@hotmail.se">
    Contact
  </a>
</button>

<div class="text-center" id="margin-links">
  <div class="same-line">
    <a href="https://github.com/alexmitic">
      <i class="fa fa-github fa-2x color-scale-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="same-line">
    <a href="https://www.linkedin.com/in/aleksandar-mitic-74164b135/">
      <i class="fa fa-linkedin-square fa-2x color-scale-linkedin" id="space-icons" aria-hidden="true"> </i>
    </a>
  </div>
  <div class="same-line">
    <a href="../../assets/Resume.pdf">
      <i class="fa fa-file-pdf-o fa-2x color-scale-pdf" id="scale-icon" aria-hidden="true"> </i>
    </a>
  </div>
</div>
